.container {
    max-width: $container;
    margin: 0 auto;
    @media (max-width: $tablet_portrait) {
        max-width: 100%;
    }
}

.btn {
    color: $white;
    background-color: $maroon;
    padding: 13px 17px;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 15px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    letter-spacing: 1px;
    border-radius: 3px;
    &:hover {
        background-color: $white;
        border: 1px solid $maroon;
    }
}

body {
    color: #383838;
    // @media (max-width: $tablet_portrait) {
    //     padding: 0;
    //     width: 100%;
    // }
}

a {
    text-decoration: none;
    font-family: $default-font;
    color: #c12c2c;
    &:hover {
        color: #911d1d;
    }
}

#adminmenu a {
    font-family: $default-font;
}

.overlay {
    a {
        color: #fec428;
    }
}

.edit-post-sidebar {
    h1, h2 ,h3, h4, h5, h6 {
        font-family: $default-font;
    }
}

.page-background {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.theme-candylandstore {
    margin: 0px;
}

.main {
    .mainContainer {
            background: #fafaea;
            margin-top: -50px;
            padding: 50px 0px 0px;
            max-width: calc( #{$container} - 50px );
            width: 100%;
            @media (max-width: $desktop) {
                max-width: calc( 100vw - 50px );
            }
            @media (max-width: $tablet_portrait) {
                max-width: 100%;
                padding: 25px 0px 0px;
                margin-top: 0px;
            }
        }
    }

.archive #primary {
    background: #fafaea;
    margin-top: -50px;
    padding: 50px 0px 0px;
    max-width: calc( #{$container} - 50px );
    width: 100%;
    margin: -50px auto 0px;
    @media (max-width: $desktop) {
        max-width: calc( 100vw - 50px );
    }
    @media (max-width: $tablet_portrait) {
        max-width: 100%;
    }
}

.single-product #primary {
    background: #fafaea;
    margin-top: -50px;
    padding: 100px 0px 0px;
    max-width: calc( #{$container} - 50px );
    width: 100%;
    margin: -50px auto 0px;
    @media (max-width: $desktop) {
        max-width: calc( 100vw - 50px );
    }
    @media (max-width: $tablet_portrait) {
        max-width: 100%;
    }
}

.hidden {
    display: none;
}

.wp-admin .wp-block {
    max-width: 1200px;
    margin: 25px 50px !important;
}

.aligncenter {
    margin: 0 auto;
    text-align: center;
    display: block;
}

.admin-bar {
    margin-top: 14px;
}

.viewAll {
    font-size: 21px;
    text-align: center;
}

#custom-wysiwyg-block_5fac86fe1c76a {
    text-align: center;
    z-index: 99999;
    background-color: #ffffff;
    margin-top: -45px;
    position: relative;
    padding-top: 0;
}

#productSlider-block_5fac7f42fc120 {
    padding-top: 30px;
    .product-slider {
        .slick-dots {
            bottom: calc( 100% +15px );
        }
    }
}

.wpcf7-form {
    input[type="text"], textarea, input[type="email"] {
        padding: 8px 10px;
        background-color: #eaeaea;
        border-style: solid;
    }
    input[type="submit"] {
        background-color: #a02325!important;
    color: #fff!important;
    margin-right: 5px!important;
    font-weight: 500!important;
    text-transform: uppercase;
    font-size: 13px!important;
    appearance: none;
    padding: 8px 10px;
    border: solid;
    }
}

.page-id-59095 .wp-block-columns {
    margin-bottom: 0px;
}
