.container {
    max-width: $container;
    margin: 0 auto;
}

.btn {
    color: $white;
    background-color: $maroon;
    padding: 13px 17px;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 15px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    letter-spacing: 1px;
    border-radius: 3px;
}

body {
    color: #383838;
}

a {
    text-decoration: none;
    font-family: $default-font;
    color: #c12c2c;
    &:hover {
        color: #911d1d;
    }
}

#adminmenu a {
    font-family: $default-font;
}

.overlay {
    a {
        color: #fec428;
    }
}

.edit-post-sidebar {
    h1, h2 ,h3, h4, h5, h6 {
        font-family: $default-font;
    }
}

.page-background {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.theme-candylandstore {
    margin: 0px;
}

.main {
    .container {
        &:first-child {
            background: #fafaea;
            margin-top: -50px;
            padding: 50px 0px;
            max-width: 1130px;
            width: 94%;
        }
    }
}

.hidden {
    display: none;
}

.wp-admin .wp-block {
    max-width: 1200px;
    margin: 25px 50px !important;
}

.aligncenter {
    margin: 0 auto;
    text-align: center;
    display: block;
}