.social_media_sharing {position: fixed; top: 50%; right: 30px;}
.social_media_icon {display: flex; justify-content: center; align-items: center; padding: 8px; border-radius: 50%; margin-bottom: 15px; z-index: 99999999;}
.social_media_icon i {font-size: 30px; color: #fff;}
i {margin-right: 0px;}