.customContent {
    max-width: 100%;
    padding-top: 30px;
    .imageColumn {
        position: relative;
        flex-basis: 50%;
        img {
            max-width: 100%;
            width: 100%;
        }
    }
    .contentColumn {
        flex-basis: 45%;
        @media (max-width: $tablet_portrait) {
            padding-top: 30px;
        }
    }
    .contentColumnButton {
        margin-bottom: 30px;
        width: 100%;
    }
    .contentColumnItem {
        display: flex;
        margin-bottom: 10px;
        @media (max-width: $tablet_portrait) {
            margin-bottom: 0px;
        }
    }
    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        @media (max-width: $tablet_portrait) {
            display: block;
        }
        &.right {
            flex-direction: row-reverse;
            margin-right: 2px;
            padding-left: 30px;
            @media (max-width: $tablet_portrait) {
                margin-right: 0px;
                padding-right: 30px;
            }
        }
    }
    .btn {
        // margin: 20px;
    }
    .overlayTextWrapper {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.6);
        color: white;
        display: none;
    }
    .overlayText {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }
    .customContentImage {
        flex-basis: 30%;
        min-width: 86px;
        &.left {
            padding-right: 20px;
        }
        &.right {
            padding-left: 20px;
        }
        img {
            max-width: 100%;
            width: 100%;
        }
    }
    .customContentWysiwyg {
        p {
            margin-top: 0px;
        }
    }
}