// this is a test comment
// .home p {
//     color: blue !important;
// }
.heroSlider {
    position: relative;
    height: 100%;
    // background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
    img {
        height: auto;
        width: 100%;
    }
    .heroSlides {
        opacity: 0;
        visibility: hidden;
        transition: opacity 1s ease;
        -webkit-transition: opacity 1s ease;
        &.slick-initialized {
            visibility: visible;
            opacity: 1;
        }
    }
    .slick-dots {
        bottom: 5px;
    }

    .slick-dots li button:before {
        font-size: 20px;
    }

}
// second test comment